<table>
<tbody>  
<form ng-controller="OrderFormController">
	<h1>Applications</h1>
	
	<ul>
		<a href="#/insync">
			<span>in Sync Application</span>
		</a>	
	</ul>
	
	<ul>
		<a href="#/gridPagination">
			<span>Grid with Pagination</span>
		</a>	
	</ul>
	<!--
	<ul>
		<a href="#/grid">
			<span>Grid Display</span>
		</a>	
	</ul>
	-->
	<ul>
		<a href="#/highChart">
			<span>High Chart Application</span>
		</a>	
	</ul>
	
	<ul>	
			<a href="#/driverse">
			<span>F1 Drivers Application</span>
		</a>	
	</ul>

	<ul>
		<a href="#/orderForm">
			<span>Services Application</span>
		</a>	
	</ul>
	
	<ul>
		<a href="#/orderForm">
			<span>Foods Application</span>
		</a>	
	</ul>
	
	<ul>
		<a href="#/instantSearch">
			<span>Instant Search Application</span>
		</a>	
	</ul>
	
</form>
</tbody>
</table>