<div layout="column" layout-fill class="alert-details">
    <div layout="column" layout-wrap class="alert-summary cross-details">
        <div class="threshold-table">
		Hey
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th ng-repeat="eachField in vm.fields">{{eachField}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-repeat="eachField in fields">{{data[eachField]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


		   